.container {
    height: 100%;
    width: 7%;
    top:0;
    left:0;
    display: flex;
    position:fixed;
    background-color: #274696;
    box-shadow: 2px 1px 3px 0px #CCCCCC;
}


.sidenav {
    position:relative;
    margin:0 auto;
}

.addicon {
    display: block;
    font-size: 35px;
    color:#E5E9F2
}
.baricon {
    display:block;
    font-size: 35px;
    color: #E5E9F2
}


